<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <% image_tag @book.get_image %>
      <td>
        <%= image_tag 'no_image.jpg' %><br>
        <%= @book.user.name %>
      </td>
      <td><%= @book.title %></td>
      <td><%= @book.Opinion %></td>
    </tr>
  </tbody>
</table>