* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social i {
  display: inline-block;
  margin-left: 20px;
}

.create_box {
  margin: 15px 0 15px;
}

.create_box_title, .create_box_body, .submit {
  display: block;
}